[submodule "InfiniTAM/External/yaml-cpp"]
	path = External/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "InfiniTAM/External/stdgpu"]
	path = External/stdgpu
	url = https://github.com/stotko/stdgpu
